body
{
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(253, 239, 42);
    margin: 0 auto;
}
#contaier h1 
{
  color: blueviolet;
}